<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="css/shopping_cart..css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' />
</head>

<body>
    <div id="app">
        <nav>
            <h2 class="nav_header">Shopping Cart</h2>
            <div class="nav_cart">
                <button @click='showCart = !showCart'>
                    <i class="fas fa-shopping-cart"></i>
                </button>
                <span class="total_quantity">{{ totalQuantity }}</span>
                <div v-if="showCart" class="cart_dropdown">
                    <ul class="cart_dropdown_list">
                        <li v-for="product in cart" :key="product.id">{{ product.name }} X {{ product.quantity }}
                        </li>
                        <p>Total: $ {{totalPrice}}</p>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <section class="products">
            <div v-for='product in products' :key='product.id' class="product">
                <h3 class="product_header">{{ product.name}} </h3>
                <img :src="product.image" :alt="product.name" class="product_image">
                <p class="product_description">{{ product.description }}</p>
                <h3>$ {{ product.price }}</h3>
                <div class="cart">
                    <button @click="updateCart(product, 'subtract')"  class="cart_button">-</button>
                    <span class="cart_quantity">{{ product.quantity }}</span>
                    <button @click="updateCart(product, 'add')"  class="cart_button">+</button>
                </div>
            </div>
        </section>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="js/shopping_cart.js"></script>
</body>

</html>